<html>
    <head>
        <title>gamzeaaa's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">gamzeaaa's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">İlk Blogum</a></h2>
            <p>dlfjdlksjfşdlsfkdşlsfkşlsdkfşdlsfkdşl </p>
        </div>

        <div>
            <p>published: 23.12.2016, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>klsjldkjasldjsalkjdslkajdlksajdlskajdlsak</p>
        </div>
    </body>
</html>